.footer {
    height: 8rem;
    width: 100%;
    background-color: var(--dark-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0 !important;
}

.footer h1 {
    font-weight: 400;
}