.submitBtn {
    font-size: 1rem;
    width: 30%;
    padding: 0.5rem;
    background-color: var(--theme);
    border: 2px solid var(--grey);
    color: var(--grey);
    border-radius: 0.2rem;
    transition: all 0.2s;
}


.submitBtn:hover {
    cursor: pointer;
    background-color: var(--grey);
    color: var(--theme);
    border-color: var(--grey);
}

.submitBtn:disabled {
    cursor: not-allowed;
    background-color: var(--theme);
}

.spinner {
    animation: spin 500ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}